<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat app</title>
    <style>
        body {
            background-color: black;
            color: white;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .code2 {
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 2px;
            justify-content: center;
            align-items: center;
            padding: 5px;
        }
        button {
            background-color: black;
            color: white;
            font-size: 15px;
            border: 1px solid white;
            height: 32px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        input {
            border: 0px;
            width: 200px;
            height: 30px;
            background-color: white;
            font-size: 20px;
            font-weight: 900;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        h3 {
            text-align: left;
            background-color: white;
            color: black;
            font-size: 30px;
        }
        #message {
            position: fixed;
            bottom: 0;
            width: 100%;
            display: flex;
            justify-content: space-evenly;
        }
        #msg {
            width: 1400px;
        }
        #mb {
            width: 100px;
        }
        .butt {
            width: 50%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    <div class="code2">
        <h1 id="head">Enter a 6 Digit Code to join Chat</h1>
        <form id="code">
            <input type="text" id="in2" class="code" placeholder="Name">
            <input type="text" id="in1" class="code" placeholder="code"><br/><br/>
            <div class="butt">
                <button id="cb">Submit</button>
            </div>
        </form>
    </div>
    <form id="message" style="display: none;">
        <input type="text" id="msg" placeholder="Send a message">
        <button id="mb">Send=></button>
    </form>
    <div id="log"></div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        var code = "";
        var name = "";
        const form1 = document.getElementById("code");
        const inp = document.getElementById("in1");
        const form2 = document.getElementById("message");
        const h1 = document.getElementById("head");
        const inp1 = document.getElementById("msg");
        const log = document.getElementById("log");
        const inp2 = document.getElementById("in2");

        form1.addEventListener("submit", (e) => {
            e.preventDefault();
            if (inp.value.length == 6) {
                code = inp.value;
                name = inp2.value;
                form1.style.display = "none";
                form2.style.display = "flex";
                h1.innerHTML = "Let's Chat";
                socket.emit("code", code);
            } else {
                alert("Please enter a 6 digit code");
            }
        });

        form2.addEventListener("submit", (e) => {
            e.preventDefault();
            if (inp1.value !== "") {
                socket.emit("chat", { code: code, msg: inp1.value, name: name });
                inp1.value = "";
            }
        });

        socket.on("chat", (m) => {
            if (m.code == code) {
                const newE = document.createElement("h3");
                newE.innerHTML = m.name + ": " + m.msg;
                log.appendChild(newE);
                window.scrollTo(0, document.body.scrollHeight);
            }
        });
    </script>
</body>
</html>
